<%= form_for @question, :html => { :class => 'form-inline' } do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if params[:notation_id].blank? %>
    <%= hidden_field_tag(:notation_id, params[:id]) %>
  <% else %>  
    <%= hidden_field_tag(:notation_id, params[:notation_id]) %>
  <% end %>

  <div class="row">
    <%= f.label :number %>
    <%= f.number_field :number, :class => 'form-control small-field' %>
  </div>

  <div class="row">
    <%= f.label :mark, 'Mark & points'%>
    <%= f.text_field :mark, :class => 'form-control small-field' %> on
    <%= f.text_field :points, :class => 'form-control small-field' %>
  </div>

  <div class="row">
    <%= f.label :comment %>
    <%= f.text_area :comment, :class => 'form-control large-field' %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
  </div>
<% end %>
