<table class="table table-striped">
  <thead>
  <tr>
    <th>Number</th>
    <th>Mark</th>
    <th>Comment</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @questions.each do |question| %>
      <tr>
        <td><%= question.number %></td>
        <td><%= "%g" % question.mark %> / <%= "%g" % question.points %></td>
        <td><%= question.comment %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
