<h1>Edit a question</h1>

<%= render 'form' %>

<div class="row">
  <%= link_to 'Show', @question %> |
  <%= link_to 'Notation', @question.notation %> |
  <%= link_to 'Exam', @question.exam %> |
  <%= link_to 'Back', :back %>
</div>
