<p>
  <strong>Mark:</strong>
  <%= "%g" % @question.mark %> on <%= "%g" % @question.points %>
</p>

<p>
  <strong>Appreciation:</strong>
  <%= @question.comment %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Notation', @question.notation %> |
<%= link_to 'Exam', @question.exam %> |
<%= link_to 'Back', :back %>
