<h1>Users</h1>

<% if @users.any? %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Email</th>
        <th>Last IP</th>
        <th>Created</th>
        <th>Valid</th>
        <th>Role</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.last_sign_in_ip %></td>
            <td><%= user.created_at %></td>
            <td><% if user.valid %>
                  <span class="label label-info">Valid</span>
              <% else %>
                  <%= link_to 'Validate', validate_user_path(user) %>
              <% end %>
            </td>
            <td><%= user.role %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

