<h1>STA On air</h1>

<% if @exams.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Course</th>
          <th>Type</th>
          <th>Nb questions</th>
          <th>Average</th>
          <th>Max</th>
          <th>Min</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @exams.each do |exam| %>
          <tr>
            <td><%= exam.course %></td>
            <td><%= exam.exam_type %></td>
            <td><%= exam.nb_questions %></td>
            <td><span class="label label-info"><%= exam.average.blank? ? 'No mark' : exam.average %></span></td>
            <td><span class="label label-success"><%= exam.max.blank? ? 'No mark' : exam.max %></span></td>
            <td><span class="label label-danger"><%= exam.min.blank? ? 'No mark' : exam.min %></span></td>
            <td><%= link_to 'Show', exam %></td>
            <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
            <td><%= link_to 'Delete', exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<br>

<%= link_to 'New Exam', new_exam_path, :class => 'btn btn-primary' %>
